<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Dangdang</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">홈</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_SELLER')"> <!--ROLE SELLER인 경우 노출-->
          <a class="nav-link" href="/seller/shopList">매장 관리</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_SELLER')"> <!--ROLE USER인 경우 노출-->
          <a class="nav-link" href="/seller/orderList">주문 내역</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_SELLER')"> <!--ROLE SELLER인 경우 노출-->
          <a class="nav-link" href="/seller/shops">상품 관리</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_CLIENT')"> <!--ROLE CLIENT인 경우 노출-->
          <a class="nav-link" href="/user/order">주문 하기</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_CLIENT')"> <!--ROLE CLIENT인 경우 노출-->
          <a class="nav-link" href="/user/orderList">주문 내역</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()"> <!--비인증 회원-->
          <a class="nav-link" href="/user/login">로그인</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()"> <!--비인증 회원-->
          <a class="nav-link" href="/user/new">고객 회원가입</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()"> <!--비인증 회원-->
          <a class="nav-link" href="/seller/new">판매자 회원가입</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_CLIENT')"> <!--고객 로그아웃-->
          <a class="nav-link" href="/user/logout">로그아웃</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_SELLER')"> <!--판매자 로그아웃-->
          <a class="nav-link" href="/user/logout">로그아웃</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</html>