<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
            .fieldError {
                color: #bd2130;
            }
        </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
            $(document).ready(function(){
                var errorMessage = [[${errorMessage}]];
                if(errorMessage != null){
                    alert(errorMessage);
                }
            });
        </script>

</th:block>

<div layout:fragment="content">

    <form action="/user/shop" role="form" method="get"  th:object="${shopDto}">
        <div class="form-group">
            <p th:text="${branch}"></p>
        </div>
        <div class="form-group">
            <p th:text="${phone}"></p>
        </div>
        <div class="form-group">
            <p th:text="${location}"></p>
        </div>
        <div style="text-align: center">
            <p th:text="${friedQty}"></p>
        </div>
        <div style="text-align: center">
            <p th:text="${seasonedQty}"></p>
        </div>
        <button type="submit" class="btn btn-primary">선택</button>
    </form>

</div>

</html>